:root {
  --primary-white-color: #ffffff;
  --accent-color: #d41443;
  --accent-bgc: #fff5f6;
  --hero-bgc: #ffb8ca;
  --label-color: #ffa5ba;
  --primary-black-color: #000000;
  --text-color: #907e82;
  --red-btn-hover: #c7133e;
  --white-btn-hover: #ecebeb;
  --social-media-bgc: #fea5bb;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  font-family: "DM Sans", sans-serif;
  color: var(--text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 20px;
}
.products .container {
  padding-top: 120px;
  padding-bottom: 100px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px;
  }
  .page-header .container {
    position: relative;
  }
}

.label {
  margin-bottom: 15px;
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: var(--label-color);
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 26px;
    line-height: 1.154;
  }
}
@media screen and (min-width: 1280px) {
  .label {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }
}

.title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 1.146;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
  }
}

.page-header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav-logo {
  width: 199px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logo-name {
  font-size: 26px;
  color: #d41443;
  font-weight: 400;
  font-family: "Titan One";
  line-height: 95.5%;
}

.burger-btn {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0px;
}

.burger-btn-icon {
  width: 20px;
  height: 14px;
  fill: #d41443;
}

@media screen and (max-width: 767px) {
  .modal-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav-logo {
    padding: 37px 0;
  }

  .burger-btn {
    margin-left: auto;
    margin-right: 30px;
  }

  .burger-btn-icon {
    height: 12px;
  }

  .modal-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 160px;
    padding-top: 11px;
    padding-left: 11px;
    padding: 11px 37px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.312;
    border-radius: 22px;
    background-color: var(--primary-white-color);
    border: none;
    color: var(--accent-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:focus, .modal-btn:hover {
    background-color: var(--white-btn-hover);
  }

  .modal-btn-text {
    margin-right: 11px;
  }

  .modal-btn-icon {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateY(-35%);
    width: 6px;
    height: 11px;
    stroke: var(--accent-color);
    fill: var(--accent-color);
  }
}
@media screen and (max-width: 1279px) {
  .site-nav-list {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }

  .site-nav {
    display: flex;
    align-items: center;
  }

  .site-nav-logo {
    position: static;
    padding-left: 0px;
  }

  .logo-img {
    position: absolute;
    left: 46px;
  }

  .site-nav-logo {
    margin-right: 110px;
  }

  .site-nav-list {
    display: flex;
  }

  .site-nav-item + .site-nav-item {
    margin-left: 35px;
  }

  .site-nav-link {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    color: var(--primary-white-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav-link:hover, .site-nav-link:focus {
    color: var(--accent-color);
  }
}
.hero {
  background-color: var(--hero-bgc);
}
.hero .container {
  min-height: 502px;
  position: relative;
}

.title-content {
  position: absolute;
  top: 193px;
  z-index: 3;
}

.hero-title {
  max-width: 230px;
  margin-bottom: 19px;
  text-transform: uppercase;
  text-align: left;
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.153;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

.hero-title-accent {
  font-size: 48px;
  line-height: 0.958;
  color: var(--accent-color);
}

.filtr {
  display: flex;
}

.filtr-btn {
  padding: 7px 13px;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  border: none;
}

.filtr-btn-red {
  margin-right: 8px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-btn-red:hover, .filtr-btn-red:focus {
  background-color: #c7133e;
}

.filtr-btn-white {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-btn-white:hover, .filtr-btn-white:focus {
  background-color: #ecebeb;
}

.thumb {
  position: absolute;
  top: 83px;
  width: 346px;
  height: 344px;
  background: #ffa5ba;
  border-radius: 100%;
}

.hero-img {
  position: absolute;
  top: 9px;
  left: 81px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .hero-text-box,
.marketing-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .title-content {
    top: 102px;
  }

  .thumb {
    top: 31px;
    left: 272px;
    width: 324px;
    height: 324px;
  }

  .hero-img {
    top: 32px;
    left: 71px;
  }

  .hero-title {
    max-width: 165px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.136;
  }

  .hero-title-accent {
    font-size: 34px;
    line-height: 0.911;
  }

  .hero-text-box {
    position: absolute;
    top: 292px;
    left: 154px;
    display: block;
    max-width: 114px;
  }

  .hero-text {
    margin-bottom: 7px;
    font-family: DM Sans;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.5;
    color: var(--primary-white-color);
  }

  .hero-text::before {
    content: "";
    width: 124px;
    height: 126px;
    background-image: url("/milk-tablet.19bdcaa8.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-text::before {
    background-size: contain;
    background-image: url("/milk-tablet@2x.7e932682.png");
  }
}
@media screen and (min-width: 768px) {
  .hero-text-btn {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .marketing-list {
    position: absolute;
    left: 691px;
    top: 91px;
  }
}
@media screen and (min-width: 768px) {
  .marketing-sum {
    font-family: Titan One;
    font-size: 28px;
    line-height: 1.142;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .marketing-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: var(--primary-white-color);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 665px;
  }

  .title-content {
    top: 171px;
  }

  .hero-title {
    max-width: 280px;
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.157;
  }

  .hero-title-accent {
    font-size: 58px;
    line-height: 0.896;
    /* or 52px */
  }

  .thumb {
    top: 52px;
    left: 475px;
    width: 538px;
    height: 538px;
  }

  .hero-img {
    left: 119px;
    top: 56px;
  }

  .hero-text-box {
    left: 295px;
    top: 485px;
    width: 200px;
  }

  .hero-text {
    font-size: 14px;
    line-height: 1.42;
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .hero-text::before {
    content: "";
    width: 188px;
    height: 191px;
    background-image: url("/milk-desctop.4da36299.png");
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-text::before {
    background-size: contain;
    background-image: url("/milk-desctop@2x.6ac9bea3.png");
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .hero-text::before {
    content: "";
    width: 188px;
    height: 191px;
    background-image: url("/milk-desctop.4da36299.png");
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .hero-text::before {
    background-size: contain;
    background-image: url("/milk-desctop@2x.6ac9bea3.png");
  }
}
@media screen and (min-width: 1280px) {
  .marketing-list {
    left: 1111px;
    top: 156px;
  }
}
@media screen and (min-width: 1280px) {
  .marketing-sum {
    font-size: 46px;
    line-height: 1.152;
  }
}
@media screen and (min-width: 1280px) {
  .marketing-text {
    font-size: 14px;
    line-height: 1.285;
  }
}
.products-title {
  margin-bottom: 144px;
}

.products-list-item {
  position: relative;
  text-align: center;
  height: 485px;
  border-radius: 24px;
  padding: 161px 40px 40px 40px;
}
.products-list-item:not(:last-child) {
  margin-bottom: 130px;
}

.products-list-item-ice {
  background-color: #ffb8ca;
}

.products-list-item-coffee {
  background-color: #f0d1a5;
}

.products-list-item-milkshakes {
  background-color: #c2e297;
}

.products-subtitle {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.products-subtitle::after {
  content: "";
  display: block;
  width: 26px;
  height: 6px;
  margin: 30px auto;
  background-image: url("/ellipse.04cd3a7b.png");
}

.products-item-ice::before {
  content: "";
  top: -113px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  width: 249px;
  height: 252px;
  background-image: url("/ice-mobile.610b6e9a.png");
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-item-ice::before {
    background-size: contain;
    background-image: url("/ice-mobile@2x.09018647.png");
  }
}
.products-item-coffee::before {
  content: "";
  top: -113px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  width: 249px;
  height: 252px;
  background-image: url("/coffee-mobile.28d58f27.png");
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-item-coffee::before {
    background-size: contain;
    background-image: url("/coffee-mobile@2x.4b84d631.png");
  }
}
.products-item-milkshakes::before {
  content: "";
  top: -113px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  width: 249px;
  height: 252px;
  background-image: url("/milkshakes-mobile.a6a0c564.png");
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-item-milkshakes::before {
    background-size: contain;
    background-image: url("/milkshakes-mobile@2x.99565f67.png");
  }
}
.products-text {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 200px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

.products-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid transparent;
}

.products-btn-icon {
  width: 15px;
  height: 15px;
  fill: #d41443;
}

@media screen and (min-width: 768px) {
  .products-container {
    padding-bottom: 110px;
  }

  .products-title {
    margin-bottom: 150px;
  }

  .products-list-item {
    width: 220px;
    padding: 152px 11px 11px 11px;
  }
  .products-list-item:not(:nth-child(3n)) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .products-list {
    display: flex;
  }

  .products-text {
    margin-bottom: 40px;
    line-height: 1.786;
    height: 124px;
    overflow: hidden;
  }

  .products-item-ice::before {
    content: "";
    top: -104px;
    width: 220px;
    height: 226px;
    background-image: url("/ice-tablet.82df6ac8.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-item-ice::before {
    background-size: contain;
    background-image: url("/ice-tablet@2x.675834ad.png");
  }
}
@media screen and (min-width: 768px) {
  .products-item-coffee::before {
    content: "";
    top: -111px;
    width: 220px;
    height: 233px;
    background-image: url("/coffee-tablet.827cf448.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-item-coffee::before {
    background-size: contain;
    background-image: url("/coffee-tablet@2x.ab75787d.png");
  }
}
@media screen and (min-width: 768px) {
  .products-item-milkshakes::before {
    content: "";
    top: -102px;
    width: 220px;
    height: 224px;
    background-image: url("/milkshakes-tablet.5438a269.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-item-milkshakes::before {
    background-size: contain;
    background-image: url("/milkshakes-tablet@2x.39b681e5.png");
  }
}
@media screen and (min-width: 1280px) {
  .products-container {
    padding-top: 125px;
    padding-bottom: 120px;
  }

  .products-title {
    margin-bottom: 260px;
  }

  .products-list-item {
    width: 330px;
    height: 525px;
    padding: 163px 45px 45px 45px;
  }
  .products-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .products-subtitle {
    font-size: 30px;
    line-height: 1.134;
  }

  .products-text {
    margin-bottom: 62px;
    width: 241px;
    height: 106px;
    font-size: 16px;
    line-height: 1.75;
  }

  .products-item-ice::before {
    content: "";
    top: -210px;
    width: 335px;
    height: 335px;
    background-image: url("/ice-desctop.3842e368.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-item-ice::before {
    background-size: contain;
    background-image: url("/ice-desctop@2x.6420d33a.png");
  }
}
@media screen and (min-width: 1280px) {
  .products-item-coffee::before {
    content: "";
    top: -210px;
    width: 335px;
    height: 335px;
    background-image: url("/coffee-desctop.597d08f9.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-item-coffee::before {
    background-size: contain;
    background-image: url("/coffee-desctop@2x.a2f84b6d.png");
  }
}
@media screen and (min-width: 1280px) {
  .products-item-milkshakes::before {
    content: "";
    top: -210px;
    width: 335px;
    height: 335px;
    background-image: url("/milkshakes-desctop.bdc3dc21.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-item-milkshakes::before {
    background-size: contain;
    background-image: url("/milkshakes-desctop@2x.8258d5d8.png");
  }
}
.about {
  padding-top: 125px;
  padding-bottom: 40px;
  background-size: contain;
  background-image: url("/milkbg-mobile.b6a666a3.png");
  background-color: var(--accent-bgc);
  background-repeat: no-repeat;
  background-position: center 90%;
}

.box-wrap {
  margin-top: 26px;
}

.info-box {
  padding: 0 30px;
  margin-top: 46px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}
.info-box b {
  color: var(--primary-black-color);
}
.info-box p {
  margin-top: 30px;
  margin-bottom: 22px;
}

.about-btn {
  width: 178px;
  padding: 16px;
  margin: 0 auto;
  background: var(--primary-white-color);
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--accent-color);
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-btn:hover {
  background: var(--white-btn-hover);
}
.about-btn .about-icon {
  width: 5px;
  height: 8px;
  margin-left: 13px;
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.about--img {
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .about {
    background-image: url("/milkbg-mobile@2x.f710e196.png");
  }
}
@media screen and (min-width: 768px) {
  .about {
    background-image: none;
  }

  .box-wrap {
    display: flex;
  }

  .item-wrap {
    width: 50%;
  }

  .info-box {
    padding: 0 0 0 17px;
    margin-top: 50px;
    font-size: 14px;
    line-height: 25px;
  }
  .info-box p {
    letter-spacing: 0.04em;
    margin-bottom: 62px;
  }

  .about--img {
    max-width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    background-image: url("/milkbg-desctop.3638da41.png");
  }

  .img-box {
    width: 54.3%;
  }

  .info-box {
    width: 45.7%;
    margin-left: 57px;
    letter-spacing: 0.04em;
  }
  .info-box b {
    font-size: 16px;
    line-height: 28px;
  }
  .info-box p {
    line-height: 27px;
    margin-top: 35px;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url("/milkbg-desctop@2x.45a0136a.png");
  }
}
@media screen and (min-width: 1280px) {
  .about--img {
    max-width: 516px;
  }
}
.advantages {
  background-color: var(--accent-bgc);
  padding-bottom: 97px;
}

.advantages_item {
  margin-bottom: 38px;
}

.advantages_title {
  margin-bottom: 10px;
  text-align: left;
}
.advantages_title.sunny::before {
  content: "";
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  display: block;
  background-image: url("/icon-mobile1.8441dcd2.png");
}
.advantages_title.apple::before {
  content: "";
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  display: block;
  background-image: url("/icon-mobile2.3c750513.png");
}
.advantages_title.hurts::before {
  content: "";
  width: 44px;
  height: 50px;
  margin-bottom: 16px;
  display: block;
  background-image: url("/icon-mobile3.a3dd37f9.png");
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages_title.sunny::before {
    background-size: contain;
    background-image: url("/icon-mobile1@2x.364a938d.png");
  }
  .advantages_title.apple::before {
    background-size: contain;
    background-image: url("/icon-mobile2@2x.b7dfcc4c.png");
  }
  .advantages_title.hurts::before {
    background-size: contain;
    background-image: url("/icon-mobile3@2x.9cdc04ad.png");
  }
}
.advantages_text {
  max-width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.667;
  color: var(--primary-black-color);
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 136px;
  }

  .advantages_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .advantages_title {
    margin-bottom: 13px;
  }
  .advantages_title.sunny::before {
    content: "";
    width: 33px;
    height: 50px;
    margin-bottom: 36px;
    display: block;
    background-image: url("/icon-tablet1.29b26557.png");
  }
  .advantages_title.apple::before {
    content: "";
    width: 50px;
    height: 50px;
    margin-bottom: 36px;
    display: block;
    background-image: url("/icon-tablet2.a8a7d30e.png");
  }
  .advantages_title.hurts::before {
    content: "";
    width: 44px;
    height: 50px;
    margin-bottom: 36px;
    display: block;
    background-image: url("/icon-tablet3.dd8cc990.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .advantages_title.sunny::before {
    background-size: contain;
    background-image: url("/icon-tablet1@2x.ccc21844.png");
  }
  .advantages_title.apple::before {
    background-size: contain;
    background-image: url("/icon-tablet2@2x.19ec6a05.png");
  }
  .advantages_title.hurts::before {
    background-size: contain;
    background-image: url("/icon-tablet3@2x.d68f1532.png");
  }
}
@media screen and (min-width: 768px) {
  .advantages_text {
    max-width: 180px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.74;
    color: var(--primary-black-color);
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    padding-bottom: 139px;
  }

  .advantages_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .advantages_title {
    margin-bottom: 15px;
  }
  .advantages_title.sunny::before {
    content: "";
    width: 33px;
    height: 50px;
    margin-bottom: 40px;
    display: block;
    background-image: url("/icon-desctop1.a056eb37.png");
  }
  .advantages_title.apple::before {
    content: "";
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    display: block;
    background-image: url("/icon-desctop2.96a9c0a8.png");
  }
  .advantages_title.hurts::before {
    content: "";
    width: 44px;
    height: 50px;
    margin-bottom: 40px;
    display: block;
    background-image: url("/icon-desctop3.a140d8e1.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .advantages_title.sunny::before {
    background-size: contain;
    background-image: url("/icon-desctop1@2x.1af6c258.png");
  }
  .advantages_title.apple::before {
    background-size: contain;
    background-image: url("/icon-desctop2@2x.8fc2f5f5.png");
  }
  .advantages_title.hurts::before {
    background-size: contain;
    background-image: url("/icon-desctop3@2x.2f6a8da1.png");
  }
}
@media screen and (min-width: 1280px) {
  .advantages_text {
    max-width: 330px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    color: var(--primary-black-color);
  }
}
.customer-reviews--slide-block {
  display: block;
  margin: 0 auto;
  margin-bottom: 31px;
}

.customer-reviews {
  display: block;
  width: 100%;
}

.customer-reviews--slide {
  padding-top: 80px;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  height: 529px;
  max-width: 280px;
}

.customer-reviews--img {
  margin: 0 auto;
  margin-bottom: 29px;
}

.customer-reviews--thumb {
  position: relative;
  padding-top: 43px;
  width: 280px;
  height: 308px;
  background: #fafafa;
  z-index: 1;
}

.customer-reviews--coments {
  margin: 0 auto;
  width: 157px;
  height: 240px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-black-color);
  z-index: 3;
  background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent 29px, #e1e1e1 27px, #e1e1e1 30px);
}

.dot,
.dot:before,
.dot:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: var(--red-btn-hover);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  margin-bottom: 30px;
}

.dot::after {
  margin-left: 6px;
}

.dot::before {
  margin-left: -10px;
}

.customer-reviews--comentator {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.6;
  text-align: center;
  color: var(--primary-black-color);
  margin-top: 50px;
}

.customer-reviews--logo-kav {
  position: absolute;
  top: 28px;
  left: 64px;
  width: 54px;
  height: 40px;
  fill: #e1e1e1;
  z-index: -1;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  min-width: 0;
  margin: 0 auto;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.slick-dots li {
  list-style: none;
  margin: 0px 18px;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.slick-active button {
  background-color: #d31342;
}

.slick-dots li:first-child button {
  background-image: url(/home.29f6d261.svg);
  border-radius: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .customer-reviews--slide {
    max-width: 768px;
  }

  .customer-reviews--thumb {
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 0px;
    width: 620px;
    height: auto;
    background: none;
  }

  .customer-reviews--coments {
    width: 389px;
    height: 90px;
    margin-bottom: 24px;
  }

  .customer-reviews--logo-kav {
    left: 89px;
  }

  .customer-reviews--slide {
    height: 382px;
  }

  .customer-reviews--comentator {
    margin-top: 42px;
  }
}
@media screen and (min-width: 1280px) {
  .customer-reviews--slide {
    max-width: 1280px;
  }

  .customer-reviews--coments {
    width: 711px;
    height: 74px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.85;
    background-image: repeating-linear-gradient(to bottom, transparent -1px, transparent 29px, #e1e1e1 25px, #e1e1e1 30px);
  }

  .customer-reviews--comentator {
    font-size: 20px;
    line-height: 1.85;
  }

  .customer-reviews--thumb {
    background: #fafafa;
    width: 926px;
  }

  .customer-reviews--logo-kav {
    left: 82px;
  }
}
.gallery {
  background: linear-gradient(to bottom, var(--accent-bgc) 40%, var(--accent-bgc) 40%, transparent 40%);
}

.gallery--img {
  margin: 0 auto;
  width: 100%;
  max-width: 364px;
}

@media screen and (min-width: 768px) {
  .gallery--img {
    max-width: 786px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery--img {
    max-width: 1280px;
  }
}
.contacts-section {
  padding-bottom: 111px;
  background: #fff5f6;
  margin-top: 170px;
}
.contacts-section .container {
  position: relative;
  bottom: 84px;
}

.contacts-item {
  max-width: 220px;
  background: var(--primary-white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin: 0 auto;
  padding: 43px 20px;
}
.contacts-item:not(:nth-child(3n)) {
  margin-bottom: 20px;
}

.contacts-represent {
  max-width: 80px;
  background: #f0d1a5;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
.contacts-represent.truck {
  max-width: 130px;
  background: #c2e297;
}

.contacts-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
  color: var(--primary-black-color);
  margin-bottom: 10px;
}

.contacts-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.contacts-text.time {
  color: #ffa5ba;
  line-height: 1.833;
}

.contacts-city,
.contacts-timetable {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-links {
  padding-top: 25px;
}

.contacts-buttons {
  margin-top: 54px;
}

.contacts-btn {
  width: 161px;
  height: 44px;
  margin: 0 auto;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-btn.location {
  margin-bottom: 12px;
  background-color: #d41443;
  color: var(--primary-white-color);
}
.contacts-btn.franchise {
  margin-bottom: 12px;
  background-color: var(--primary-white-color);
  color: #d41443;
}

.contacts-icon {
  width: 5px;
  height: 8px;
  margin-left: 13px;
}
.contacts-btn.location .contacts-icon {
  stroke: var(--primary-white-color);
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-btn.franchise .contacts-icon {
  stroke: #d41342;
  fill: #d41342;
}

.contacts-btn:hover,
.contacts-btn:focus {
  background: var(--white-btn-hover);
  color: #D41443;
}
.contacts-btn:hover .contacts-icon, .contacts-btn:hover .contacts-icon,
.contacts-btn:focus .contacts-icon,
.contacts-btn:focus .contacts-icon {
  stroke: #D41443;
  fill: #D41443;
}

@media screen and (min-width: 768px) {
  .contacts-section {
    margin-top: 197px;
  }
  .contacts-section .container {
    bottom: 78px;
  }

  .contacts-list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts-item {
    margin: 0;
    padding: 50px 32px;
  }
  .contacts-item:not(:nth-child(3n)) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .contacts-represent {
    font-size: 16px;
    line-height: 1.875;
  }

  .contacts-title {
    font-size: 14px;
    line-height: 1.857;
  }

  .contacts-text {
    font-size: 14px;
    line-height: 1.642;
  }

  .contacts-text.time,
.contacts-links .link {
    line-height: 1.875;
  }

  .contacts-buttons {
    margin-top: 81px;
    text-align: center;
  }
  .contacts-buttons .contacts-btn {
    display: inline-block;
    width: 191px;
  }
  .contacts-buttons .contacts-btn.location {
    margin-bottom: 0px;
    margin-right: 14.5px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-section {
    margin-top: 234px;
    background-image: url("/bg-contact.caf6f0f7.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts-section .contacts-section {
    background-image: url("/bg-contact@2x.66b856d9.png");
  }
}
@media screen and (min-width: 1280px) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-item {
    max-width: 330px;
    min-height: 572px;
    margin-bottom: 0;
    padding: 51px 44px 62px 43px;
  }
  .contacts-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-title {
    font-size: 16px;
    line-height: 1.875;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-text {
    font-size: 16px;
    line-height: 1.813;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-text.time,
.contacts-links .link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-buttons {
    margin-top: 86px;
  }
  .contacts-buttons .contacts-btn {
    width: 198px;
  }
  .contacts-buttons .contacts-btn.location {
    margin-right: 15px;
  }
}
.page-footer {
  background-color: var(--accent-bgc);
}

.page-footer-top {
  padding-bottom: 43px;
}
.page-footer-top .label,
.page-footer-top .title {
  text-align: left;
}
.page-footer-top .label {
  margin-bottom: 16px;
}

.wrapper-label-title {
  width: 234px;
  margin-bottom: 43px;
}

.page-footer-bottom {
  padding: 24px 0 24px;
  border-top: 1px solid #E1E1E1;
}

.social-media__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.social-media__item:not(:last-child) {
  margin-right: 28px;
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--social-media-bgc);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--accent-color);
}

.social-media__icon {
  fill: var(--primary-white-color);
}

.icon-github {
  width: 18px;
  height: 18px;
}

.icon-telegram {
  width: 20px;
  height: 14px;
}

.icon-facebook {
  width: 10px;
  height: 20px;
}

.contact-tel {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.833;
  text-align: right;
  color: var(--primary-black-color);
}

.contact-tel__link {
  color: var(--accent-color);
}

.footer-copyright {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.footer-copyright__link {
  color: inherit;
}

@media screen and (min-width: 768px) {
  .page-footer-top > .container {
    display: flex;
    justify-content: space-between;
  }

  .page-footer-bottom > .container {
    display: flex;
    justify-content: center;
  }

  .wrapper-label-title {
    margin-bottom: 0;
  }

  .social-media__link {
    width: 34px;
    height: 34px;
  }

  .icon-github {
    width: 20px;
    height: 20px;
  }

  .icon-telegram {
    width: 20px;
    height: 16px;
  }

  .footer-copyright {
    margin-left: 4px;
    line-height: 1.857;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page-footer-top {
    padding-bottom: 90px;
  }
  .page-footer-top .label {
    font-size: 26px;
    line-height: 1.154;
  }
  .page-footer-top .title {
    font-size: 48px;
    line-height: 1.156;
    letter-spacing: 0.06em;
  }

  .wrapper-label-title {
    flex-basis: 340px;
  }

  .page-footer-bottom {
    padding-top: 30px;
    padding-bottom: 18px;
  }

  .social-media__item:not(:last-child) {
    margin-right: 30px;
  }

  .contact-tel {
    font-size: 14px;
    line-height: 1.857;
  }
}
@media screen and (min-width: 1280px) {
  .page-footer-top {
    padding-bottom: 96px;
  }
  .page-footer-top .label {
    font-size: 30px;
    line-height: 1.154;
  }
  .page-footer-top .title {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
  }

  .page-footer-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wrapper-label-title {
    flex: 1 1 0;
  }

  .social-media__item:not(:last-child) {
    margin-right: 24px;
  }

  .social-media__list {
    margin-bottom: 50px;
  }

  .contact-tel {
    font-size: 16px;
    line-height: 1.875;
  }

  .footer-copyright {
    line-height: 1.75;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */